@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-surface: #1E1E1E;
  --color-primary: #BB86FC;
  --color-secondary: #03DAC6;
  --color-text: #FFFFFF;
  --color-error: #CF6679;

  --font-sans: 'Inter', sans-serif;
}

/* Apply global styles */
body {
  background-color: var(--color-background);
  color: var(--color-text);
}